<h3>Predefined List of Actions and Triggers</h3>
<div class="container" cdkDropList id="predefinedList" [cdkDropListConnectedTo]="['canvasDroppedItems']" [cdkDropListData]="predefinedList" (cdkDropListDropped)="drop($event)">
  <div class="item" cdkDrag *ngFor="let item of predefinedList">{{item.name}}</div>
</div>

<h3>Canvas</h3>
<div class="container" cdkDropList id="canvasDroppedItems" [cdkDropListConnectedTo]="['predefinedList']" [cdkDropListData]="canvasDroppedItems" (cdkDropListDropped)="drop($event)">
  <div class="item" cdkDrag *ngFor="let item of canvasDroppedItems">{{item.name}}</div>
</div>

<div class="save-button-container">
  <button (click)="saveCanvas()">Save</button>
</div>
