<div class="container mt-4">
  <div class="card">
    <div class="card-header">Add a Location</div>
    <div class="card-body">
      <form class="row g-3">
        <div class="col-12">
          <label for="zipcode" class="form-label">Enter a zipcode</label>
          <input type="text" class="form-control" id="zipcode">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Location</button>
        </div>
      </form>
    </div>
  </div>
</div>