<div class="container mt-4">
  <div class="card">
    <div class="card-header">Add a Location</div>
    <div class="card-body">
      <form class="row g-3">
        <div class="col-12">
          <label for="zipcode" class="form-label">Enter a zipcode</label>
          <input type="text" class="form-control" id="zipcode" required>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Location</button>
        </div>
      </form>
    </div>
  </div>
  <app-weather-card
    *ngFor="let card of weatherCards; let i = index"
    [weatherData]="card"
    (remove)="removeCard(i)">
  </app-weather-card>
</div>